@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  /* Backgrounds */
  --bg-primary: #0f2a48;
  --bg-nav: rgba(15, 42, 72, 0.96);      

  /* Text Colors */   
  --text-primary: #aed1f6;       
  --text-muted: #7389a1;      

  /* Accent Colors */
  --accent: #01ffc4;

  /* Lines / Borders */
  --line: #194c86;           

  /* Shadows */
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.4);

  /* Buttons  */
  --btn-bg-hover: #132f52;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: 'roboto', 'poppins', 'montserrat', ;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-nav);
  height: 80px;
  box-shadow:var(--shadow);
  width: 100%;
}

nav.main-menu {
  position: absolute;
  top: 90px;
  left: 2.5vw;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 95%;
  box-shadow: var(--shadow);
  margin: 5px auto;
  transition: 0.5 ease all;
  display: none;
}


nav.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: start;

}
nav.main-menu ul li {
  margin: 20px;
  
}

.nav-item {
  color: var(--text-primary);
  text-decoration: none;
  padding: 10px;
  border-radius: 0.3rem;
  font-weight: 400;
  font-size: 1rem;
  transition: all 0.3s;
  text-align: center;
  margin: 10px 0;
}

  .nav-item:hover {
    background-color:var(--btn-bg-hover);
    border-radius: 0.5rem;
  }

.logo {
  font-size: 0.8rem;
  color: var(--accent);
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
  border: 1px solid var(--accent);
  transition: all 0.3s;
  margin-left: 2rem;
  margin-right: 1rem;
}


.logo:hover {
  border: 1px solid var(--line);
}

.hamburger {
  height: 32px;
  width: 30px;
  display: block;
  cursor: pointer;
  position: relative;
  margin: 5px;
  transition: 0.5s ease;
}

.hamburger span {
  display: block;
  background-color: var(--text-muted);
  border-radius: 5px;
  height: 3px;
  width: 100%;
  margin: 5px 0;
  transition: 0.5s ease;
}
.checkbox-toggle {
  display: none;
}

/* When the checkbox is checked, display the menu */
.checkbox-toggle:checked ~ nav.main-menu {
  display: block;
  transform: translateY(-10px);
  transition: 0.5s ease;
  
}
/* Change hamburger icon to X (close) when clicked */
.checkbox-toggle:checked + .hamburger span:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 5px;
}
.checkbox-toggle:checked + .hamburger span:nth-child(2) {
  opacity: 0;
}

.checkbox-toggle:checked + .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -9px;
}

@media screen and (min-width:992px) {

  .logo {
  font-size: 0.8rem;
  margin-left: 60px;
  color: var(--accent);
  border-radius: 5px;
  padding: 10px;
  border: 1px solid var(--accent);
  transition: all 0.3s;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  nav.main-menu {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: transparent !important;
    box-shadow: none !important;
    transition: 0.5 ease all;
  }

  nav.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  margin-right: 80px;

  }
  nav.main-menu ul li {
    margin-left: 12px;
    
  }


  .checkbox-toggle {
  display: none;

  }

  .hamburger {
    display: none;
  }
}



