div.home {
    margin-top: 6rem;
}
div.home .sub-text {
    color: var(--text-muted);
}
.intro {
    color: var(--accent);
}
.home > h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}
.home > h6 {
    line-height: 1.8rem;
    font-weight: 400;
    font-size: 1.15rem;
}
.about-line-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}
.about {
    font-weight: 700;
    font-size: 1.5rem;

}

.number {
    color: var(--accent);
    margin-right: 1.5rem;

}
.line {
    flex: 1;
    height: 1px;
    background-color: var(--text-primary);
}


.text {
    line-height: 1.6rem;
    font-size: 1.15rem;
}

.icon {
    font-size: 1.8rem;
    color: var(--accent);
}

.box-item {
    border: 1px solid var(--accent);
    padding: 2rem;
    border-radius: .2rem;
    box-shadow: var(--shadow);
    height: 80%;
}
 .box-item > p {
    font-size: 1.15rem;
}

.show-more-checkbox, .extra {
    display: none;
}

.show-more-checkbox:checked ~ .extra {
    display: block;
    transition: 0.5s ease;
}

.show-more-label, .show-more-label-project, .resume {
    border: 1px solid var(--accent);
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--accent);
    text-align: center;
    width: fit-content;
    cursor: pointer;
    margin: .8rem auto;
    transition: all 0.25s;
}

.show-more-label::after {
  content: "Show More";
}

/* When checked, show “Show Less” */
.show-more-checkbox:checked ~ .show-more-label::after {
  content: "Show Less";
}

.show-more-label:hover {
    border: 1px solid var(--line);
}

.project-box {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: .2rem;
    padding: 1.2rem 0;
    height: 100%;
    background-color: var(--bg-project);
}

.icon-box {
    padding: 1rem .8rem ;
}
.project-box h3 {
    color: var(--text-primary);
    font-weight: 700;
    font-size: 1.2rem;
    
}
.project-box p > small {
    color: var(--text-muted);
}

.icon-box:hover {
    background-color:var(--btn-bg-hover);
    border-radius: 0.5rem;
}

.show-more-checkbox-project, .extra-project {
    display: none;
}

.show-more-checkbox-project:checked ~ .extra-project {
    display: block;
    transition: 0.5s ease;
}

.show-more-label-project::after {
  content: "Show More";
}

/* When checked, show “Show Less” */
.show-more-checkbox-project:checked ~ .show-more-label-project::after {
  content: "Show Less";
}

.show-more-label-project:hover {
    border: 1px solid var(--line);
}

.auto-margin {
    margin: 10px auto;
    font-size: 1.1rem;
}
.hire-label {
    padding: 0.5rem;
    background-color: #156ac4;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    text-align: center;
    width: fit-content;
    cursor: pointer;
    margin: .8rem auto;
    transition: all 0.25s;
}

.checkbox-hire, .hire-extra {
    display: none;
}

.checkbox-hire:checked ~ .hire-extra {
    display: block;
    transition: all 0.5s ease;
}

.resume-hire {
    border: 1px solid var(--line);
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--accent);
    text-align: center;
    width: fit-content;
    cursor: pointer;
    margin: .8rem auto;
    transition: all 0.25s;
}

.hire-number {
    color: var(--accent);
    font-size: 1.1rem;
    transition:all 0.5s ease;
}
footer > small {
    color: var(--accent);
}
.icon-footer {
    font-size: 1rem;
    margin:0  1rem;
    color: var(--accent);
}





@media screen and (min-width:768px) {
    .home > h1 {
    font-size: 3.2rem;
    }
    .home > h6 {
        line-height: 1.5rem;
    }

}